@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
body {
  background-color: #FFEF82;
}

* {
  margin: 0px;
  padding: 0px;
}

/*google fonts*/
.supercontenedor {
  padding: 0;
  margin: 0;
  margin-left: 15%;
  margin-right: 15%;
}

header {
  background-color: #327467;
  border-bottom: #298f4d solid 2px;
  /* media para el header */
}
header .divprincipal {
  z-index: 3;
}
header .divprincipal .tituloprincipal {
  display: block;
}
header .divprincipal .tituloprincipal h1 {
  color: rgb(25, 23, 23);
  font-size: 40px;
}
header .divprincipal .tituloprincipal h1:hover span:nth-child(1) {
  margin-left: 20px;
}
header .divprincipal .tituloprincipal h1 span {
  transition: 0.5s linear;
}
header .divprincipal .tituloprincipal h1 span:hover {
  margin-right: 8px;
  color: #fff;
  /* sombre horizontal - vertical - blur - color */
  text-shadow: 0 0 100px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
@media screen and (max-width: 410px) {
  header .tituloprincipal {
    background-color: blueviolet;
  }
  header #menu {
    position: sticky;
    top: 0;
  }
}

#menu ul {
  list-style: none;
  margin: 16px;
  padding: 0;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a {
  background-color: #111010;
  color: #f3ecec;
  text-decoration: none;
  border-left: 4px solid #29a962;
}

.imagenesprincipales {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}
.imagenesprincipales .imagenx3 .imagenprinci {
  width: 18rem;
  height: 30rem;
}
.imagenesprincipales .imagenx3 .imagenprinci:hover {
  transform: scale(1.1);
  transition: all 2s;
}
.imagenesprincipales .imagenx3 .imagenprinci .textimg {
  text-align: center;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
}

/*seccion de soluciones*/
.servicioscontainer .titulosoluciones p {
  background-color: #531d65;
  font-size: 220%;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.servicioscontainer .divcontenedordesectores {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}
.servicioscontainer .divcontenedordesectores .sector1 {
  width: 90%;
  height: 300%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-items: auto;
}
.servicioscontainer .divcontenedordesectores .sector1 .titulo1 {
  font-size: 20px;
}
.servicioscontainer .divcontenedordesectores .sector1 .textologo {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.servicioscontainer .divcontenedordesectores .sector1 .logito1 {
  width: 13rem;
}

/*seccion de las tiendas*/
#Tienda .secciontienda {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  border-bottom: solid grey 2px;
  padding-bottom: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}
#Tienda .secciontienda .imagentienda {
  width: 40%;
  height: auto;
}
#Tienda .secciontienda .infotienda p {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  border: solid green 3px;
  text-align: center;
}
#Tienda .findetienda {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
#Tienda .findetienda .cajaderedes {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin-bottom: 3rem;
}
#Tienda .findetienda .cajaderedes .botoni1 {
  width: 200px;
  height: 70px;
  border-radius: 45px;
  font-size: 1.2rem;
  font-weight: 900;
  background: #000;
  color: #fff;
  border: 1px solid;
  transition: all 1s ease;
  border: 4px solid lightblue;
  transition-delay: 0.2s;
  cursor: pointer;
}
#Tienda .findetienda .cajaderedes .botoni1:hover {
  box-shadow: 0 0 20px #9527b4, 0 0 40px #00E4B6;
  border: 4px solid #b5a52b;
  background: #b72fc1;
  color: #000;
  transition: box-shadow 7s, border 3s, background 3s, color 3s;
}
#Tienda .findetienda .cajaderedes .botonf1 {
  width: 200px;
  height: 70px;
  border-radius: 45px;
  font-size: 1.2rem;
  font-weight: 900;
  background: #000;
  color: #fff;
  border: 1px solid;
  transition: all 1s ease;
  border: 4px solid lightblue;
  transition-delay: 0.2s;
  cursor: pointer;
}
#Tienda .findetienda .cajaderedes .botonf1:hover {
  box-shadow: 0 0 20px #1d69c6, 0 0 40px #00E4B6;
  border: 4px solid #1d69c6;
  background: #1d69c6;
  color: #000;
  transition: box-shadow 7s, border 3s, background 3s, color 3s;
}
#Tienda .findetienda p {
  padding: 0 5% 0 5%;
  text-align: center;
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
#Tienda .findetienda .imageninfo {
  width: 10rem;
}

footer .dudas {
  border-bottom: 3px solid grey;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .dudas p {
  font-size: medium;
}
footer .dudas .wp {
  background-color: #29a962;
  text-decoration: none;
  height: 25px;
  width: 80px;
  text-align: center;
  border: #111010 solid 1px;
  margin-bottom: 5rem;
}
footer .logo:hover span:nth-child(1) {
  margin-left: 20px;
}
footer .logo span {
  transition: 0.5s linear;
}
footer .logo span:hover {
  margin-right: 8px;
  color: #fff;
  /* sombre horizontal - vertical - blur - color */
  text-shadow: 0 0 100px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
footer .logo .seguinos {
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer .logo .redesli {
  bottom: 26px;
}
footer .logo .redesli li a {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
}

/*# sourceMappingURL=style.css.map */
