body{
        background: rgb(247,247,247);
background: linear-gradient(180deg, rgba(247,247,247,1) 0%, rgba(0,0,0,0.7791491596638656) 16%, rgba(0,0,0,1) 100%);
}
*{
        margin: 0px;
        padding: 0px

}
/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.supercontenedor {
        padding: 0;
        margin: 0;
        margin-left: 15%;
        margin-right: 15%;
}