body{
        background: rgb(113,116,50);
background: linear-gradient(180deg, rgba(113,116,50,1) 0%, rgba(255,239,130,1) 76%, rgba(255,255,255,1) 100%);
}
*{
        margin: 0px;
        padding: 0px

}
/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.supercontenedor {
        padding: 0;
        margin: 0;
        margin-left: 15%;
        margin-right: 15%;
}