footer {
        .dudas{
            border-bottom: 3px solid grey;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
                p{
                    font-size: 24px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
                .wp{
                    background-color: #176b3d;
                    text-decoration: none;
                    height: 25px;
                    width: 80px;
                    text-align: center;
                    border: #111010 solid 1px;
                    margin-bottom: 5rem;  
                    border-radius: 5px;       
                    color: #fff;       
                }
        }
        .logo{
            &:hover span:nth-child(1){
                margin-left: 20px;}

            span {
                transition: .5s linear;

                &:hover{
                        margin-right: 8px;
                        color: #fff;
                        /* sombre horizontal - vertical - blur - color */
                        text-shadow: 0 0 100px #fff,
                        0 0 20px #fff,
                        0 0 40px #fff;
                }
        }
    }
        .seguinos{
                    p {
                        font-size: 24px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    }
                    

        }
        .redesli{
            bottom: 26px;
                    li{
                        
                        a{
                            font-size: 23px;
                            font-family: Arial, Helvetica, sans-serif;
                            display: inline;
                            background-color: oldlace;
                            color: #111010;
                            border-radius: 10px;
                            text-decoration: none;
                            padding: 3px;

                            &:hover {
                                border: #111010 solid 2px;
                            }

                        }
                    }
        }

}