header{
        background: rgb(57,57,57);
background: linear-gradient(266deg, rgba(57,57,57,1) 9%, rgba(255,255,255,0.8519782913165266) 51%, rgba(57,57,57,1) 91%);
        border-bottom: solid 4px rgba(0, 0, 0, 0.323);
        .divprincipal {
                z-index: 3;


            .tituloprincipal{
                display: block;
                
                        h1 {
                                color: rgb(25, 23, 23);
                                font-size: 40px;

                                &:hover span:nth-child(1){
                                        margin-left: 20px;
                                }


                span {
                        transition: .5s linear;

                        &:hover{
                                margin-right: 8px;
                                color: #fff;
                                /* sombre horizontal - vertical - blur - color */
                                text-shadow: 0 0 100px #fff,
                                0 0 20px #fff,
                                0 0 40px #fff;
                        }
                        
                        
                    }
        }
        }   
        
        
        }
        
        

         
        /* media para el header */
@media screen and (max-width: 410px) {
        
        #menu {
            position: sticky;
            top: 0;
        }
    }
}