header{
                background-color: #327467;
                border-bottom: #298f4d solid 2px;

        .divprincipal {
                z-index: 3;

            .tituloprincipal{
                display: block;
                        h1 {
                                color: rgb(25, 23, 23);
                                font-size: 40px;

                    span {
                        transition: .5s linear;
                    }
        }
        }                              
        }
        

}