#menu {
        ul {
            list-style: none;
            margin: 20px;
            padding: 0;
            li {
                    display: inline-block;
                            a{
                                    background-color: #111010;
                                    color: #f3ecec;
                                    text-decoration: none;
                                    border-left: 4px solid #dfe31d;
                                    margin-right: 5px;
                                    border-radius: 5px;

                                    &:hover {
                                            background-color: #f3ecec;
                                            color: #111010;
                                            transition: 1s;
                                            text-shadow: 0 0 100px #fff,
                                                        0 0 20px #fff,
                                                        0 0 40px #fff;
                                    }
                            

                            
                    }
            }
    }
}   