.novedades{
    margin: 2rem 5rem 5rem 5rem;
        img{
            width: 30rem;

            margin-bottom: 2rem;

        }
        @media screen and (max-width: 790px) {
        
            img{
                width: 20rem;
            }
        }
        @media screen and (max-width: 450px) {
        
            img{
                width: 10rem;
            }
        }
        
        article{

                    h1{
                        font-family: 'Courier New', Courier, monospace;
                        color: blueviolet;
                        font: $title-font;
                        text-decoration: underline;
                    }

                    h2{
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-size: 2rem;
                        background-color: antiquewhite;
                        border-radius: 5px;

                    }
                    p{
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 20px;
                        border: solid grey 2px;
                        border-radius: 4px;

                        &:hover{
                            background-color: antiquewhite;
                            transition: 1s;
                        }

                    }
        }
}