/* pagina de SERVICIOS */
main{
        .primercontenedor {
                
                text-align: center;
                                .puerta{
                                        

                                }
                                h2{
                                        font: $title-font;
                                        font: $title-font-family;
                                        color: $color-font-general;
                                }
                                p{
                                        font:$paraghap-font-family;
                                        color: $color-font-general;

                                }
        }

        .segundoh2{
                text-align: center;
                margin: 5rem;
                font: $subtle-font;

                color: $color-font-general;

        }


        .segundocontenedor {
                display: flex;
                                .contenedordepasos {
                                        margin-bottom: 10rem;
                                                        .imagenespasoapaso {
                                                                width: 20rem;

                                                        }
                                                        .h3numeracion {
                                                                text-align: center;
                                                                color: $color-font-general;

                                                        }
                                                        .texto3 {
                                                                font:$paraghap-font-family;
                                                                font-size: 15px;
                                                                text-align: center;
                                                                color: $color-font-general;

                                                        }
                                }
        }








}
/* FIN DE LA PAG DE SERVICIOS  */