/* pagina de SERVICIOS */
main{
        
        .primercontenedor {
                
                text-align: center;
                                
                                h2{
                                        font: $title-font;
                                        font: $title-font-family;
                                        color: $color-font-general;
                                }
                                p{
                                        font:$paraghap-font-family;
                                        color: $color-font-general;

                                }
        }

        .segundoh2{
                text-align: center;
                margin: 5rem;
                font: $subtle-font;

                color: $color-font-general;

        }


        .segundocontenedor {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                                .contenedordepasos {
                                        margin-bottom: 10rem;
                                                        .imagenespasoapaso {
                                                                width: 10rem;

                                                        }
                                                        .h3numeracion {
                                                                text-align: center;
                                                                color: $color-font-general;

                                                        }
                                                        p {
                                                                font:$paraghap-font-family;
                                                                font-size: 15px;
                                                                text-align: center;
                                                                color: antiquewhite;

                                                        }
                                }
        }








}
/* FIN DE LA PAG DE SERVICIOS  */