* {
    margin: 0px;
    padding: 0px

}

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
    background-color: rgb(58, 121, 113);
    

}


/*header*/


header {
background-color: #327467;
    border-bottom: #298f4d solid 2px;
    
}

.divprincipal {
    z-index: 3;
}


/* logo o titulo */
h1 {
color: rgb(25, 23, 23);

font-size: 40px;

}

.tituloprincipal {
    margin-left: 1rem;
}


.logo span {
    transition: .5s linear;
}

.logo:hover span {

    margin-right: 8px;
}
.logo:hover span:nth-child(1) {
    margin-left: 20px;
}

.logo:hover span {
    color: #fff;
    /* sombre horizontal - vertical - blur - color */
    text-shadow: 0 0 100px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
}

/* fin del titulo o logo */


/* menu del header */



#menu a {
    background-color: #111010;
    color: #f3ecec;
    text-decoration: none;
    border-left: 4px solid #29a962;
    }



    #menu ul {
        list-style: none;
        margin: 16px;
        padding: 0;
        }



        #menu li {
        display: inline-block;
        }




/* fin del menu del header */









/* imagenes principales */

.imagenesprincipales {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.astro{
    width: 18rem;
    height: 30rem;
    
}

.astro:hover {
    transform: scale(1.1);
    transition: all 2s;
}

.astronauta p {
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;

}

.novedades {
    width: 18rem;
    height: 30rem;
    margin-top: 20%;
}

.novedades:hover {
    transform: scale(1.1);
    transition: all 2s;
}

.novedadesdiv p {
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

.tecnico {
    width: 18rem;
    height: 30rem;
    margin-top: 40%;
}

.tecnico:hover {
    transform: scale(1.1);
    transition: all 2s;
}

.tecnicodiv p {
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

/* fin de imagenes del principales*/


















/* servicios container */

.servicioscontainer {
    margin: 0rem 1rem 10rem 1rem;
    background-color: aqua;
    padding: 1rem 10rem 40rem 10rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 10rem 10rem 10rem ;
}



/* fin se servicios container */



    
/* titulo de soluciones */




.titulosoluciones p {

    background-color: blueviolet;
    
    
    font-size: 3rem;

font-family: Georgia, 'Times New Roman', Times, serif;
}



/* fin del titulo de soluciones */




/* sector 1 */

.sector1 {
    width: 50rem;
    height: 25rem;
}


.logito1 {
width: 13rem;
}

.titulo1 {
    font-size: 20px;

    
}

.textologo {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*fin del sector 1*/






/*fin de la seccion (servicios)*/


/*seccion tienda */



    .secciontienda {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
        border-bottom: solid grey 2px;
        padding-bottom: 5rem;
    }


.infotienda p{
    
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    border: solid green 3px;

}


















.imageninfo {

width: 10rem;
}

.findetienda{
    display: grid ;
    grid-template-columns: 1fr;
    justify-items: center;

}

.findetienda p {
    padding: 0 5% 0 5%;
    text-align: center;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.cajaderedes {
    display: flex;
    justify-content: space-between;
    width: 15rem;
}
.botonf1 {
    padding: 10px 20px;
    background-color: rgb(21, 91, 197);
    text-decoration: none;
    
}
.botoni1 {
    
    background-color: rgb(177, 57, 147);
    
    padding: 10px 20px;
    text-decoration: none;

}


/*fin seccion tienda */

/*maps*/

.maps {
    margin-top: 5rem;
    margin-bottom: 3rem;
}


/*fin maps*/


/*footer*/

.dudas {
    
border-bottom: 3px solid grey;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
}
.dudas p {
    font-size: medium;
}

    .wp {
    background-color: #29a962;
    text-decoration: none;
    height: 25px;
    width: 80px;
    text-align: center;
    border: #111010 solid 1px;
}














.redesli li {
    font-size: 23px;
font-family: Arial, Helvetica, sans-serif;
display: inline;


} 
.redesli {

bottom: 26px;

}






/* fin de footer */












/* pagina de SERVICIOS */



.primercontenedor {
    background-color: aquamarine;
    text-align: center;
}


.primercontenedor .puerta{
    border-top: brown solid 2px;

}



















/* FIN DE LA PAG DE SERVICIOS  */