

/* pagina de SERVICIOS */



.primercontenedor {
    background-color: aquamarine;
    text-align: center;
}


.primercontenedor .puerta{
    border-top: brown solid 2px;

}


.imagenespasoapaso  {
width: 50%;

}


.segundocontenedor{
    display: flex;
    
}

.segundoh2 {
    text-align: center;
    margin: 5rem;
}

.texto3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    text-align: center;
}

.contenedoresdepasos {
    margin-bottom: 10rem;
}


.h3numeracion {
    text-align: center;
}






/* FIN DE LA PAG DE SERVICIOS  */





